<!-- This is out Home page file and in this file we write our all function of home file -->


<% layout('./layout/boilerplate.ejs') -%>
<body>
    <div class="main">
        <h3>This is our Home page</h3>
    </div>
</body>
