<% layout('./layout/boilerplate.ejs') -%>
<link rel="stylesheet" href="/stylesheets/login.css">

<div class="main">
  <div class="card">

    <!-- Top Icon -->
    <div class="icon-box">
      <span>→</span>
    </div>

    <h2>Sign in with Phone</h2>
    <p class="subtitle">Access your account securely</p>

    <form action="/listing/login/login" method="post">
      
      <!-- Phone Input -->
      <div class="input-box">
        <i class="fa-solid fa-phone"></i>
        <input type="text" name="phone" placeholder="Phone" required>
      </div>

      <!-- Password Input -->
      <div class="input-box">
        <i class="fa-solid fa-lock"></i>
        <input type="password" name="password" placeholder="Password" required>
        <i class="fa-solid fa-eye eye"></i>
      </div>

      <div class="forgot">Forgot password?</div>

      <button class="btnn">Get Started</button>
    </form>

  </div>
</div>
<script>
  const eye = document.querySelector(".eye");
  const password = document.querySelector("input[type='password']");

  eye.addEventListener("click", () => {
    if (password.type === "password") {
      password.type = "text";
      eye.classList.remove("fa-eye");
      eye.classList.add("fa-eye-slash");
    } else {
      password.type = "password";
      eye.classList.add("fa-eye");
      eye.classList.remove("fa-eye-slash");
    }
  });
</script>