<% layout('./layout/boilerplate.ejs') -%>
<link rel="stylesheet" href="/stylesheets/login.css">

<div class="main">
  <div class="card">

    <!-- Top Icon -->
    <div class="icon-box">
      <span>→</span>
    </div>

    <h2>Sign in with email</h2>
    <p class="subtitle">Access your account securely</p>

    <form action="/listing/login/login" method="post">
      
  <!-- email Input -->
  <div class="input-box">
    <i class="fa-solid fa-envelope"></i>

    <input type="text" id="email" name="email" placeholder="Email" required>
  </div>

  <!-- Password Input -->
  <div class="input-box">
    <i class="fa-solid fa-lock"></i>
    <input type="password" name="password" placeholder="Password" required>
    <i class="fa-solid fa-eye eye"></i>
  </div>

  <!-- Forgot Password -->
  <div class="forgot">
    <a href="#" onclick="goForget()">Forgot password?</a>
  </div>

  <button class="btnn">Get Started</button>
</form>

  </div>
</div>
<script>
  const eye = document.querySelector(".eye");
  const password = document.querySelector("input[type='password']");

  eye.addEventListener("click", () => {
    if (password.type === "password") {
      password.type = "text";
      eye.classList.remove("fa-eye");
      eye.classList.add("fa-eye-slash");
    } else {
      password.type = "password";
      eye.classList.add("fa-eye");
      eye.classList.remove("fa-eye-slash");
    }
  });

  function goForget() {
  const email = document.getElementById("email").value;
  if (email) {
    window.location.href = "/listing/login/login/forget?email=" + email;
  } else {
    alert("Please enter your email number first!");
  }
}
</script>