

/* Main Container */
/* .main {
  width: 100%;
  max-width: 420px;
  padding: 20px;
} */

/* Card */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 30px 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

/* Icon Box */
.icon-box {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
  background: #2575fc;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Headings */
.card h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Input Box */
.input-box {
  position: relative;
  margin-bottom: 18px;
}

.input-box i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
}

.input-box input {
  width: 100%;
  padding: 12px 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
}

.input-box input:focus {
  border-color: #2575fc;
}

/* Eye Icon */
.eye {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

/* Error Message */
#error-msg {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Links */
.forget {
  margin: 15px 0;
}

.forget a {
  font-size: 13px;
  color: #2575fc;
  text-decoration: none;
}

.forget a:hover {
  text-decoration: underline;
}

/* Button */
.btnn {
  width: 100%;
  padding: 12px;
  background: #2575fc;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.btnn:hover {
  background: #1a5edb;
}



/* Responsive */
@media (max-width: 480px) {
  .card {
    padding: 20px 15px;
  }
}
